# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

[*.{yaml,yml,json,js,css,less,scss,sass}]
indent_style = space
indent_size = 2

[themes/**.{htm,html}]
indent_style = space
indent_size = 2

[plugins/**.{htm,html}]
indent_style = space
indent_size = 2

[plugins/**/*.php]
indent_style = space
indent_size = 4

[plugins/**/*.{yml,yaml}]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false
