[submodule "plugins/aspendigital/lookfeel"]
	path = plugins/aspendigital/lookfeel
	url = git@aspendigital.com:octobercms/lookfeel.git
[submodule "plugins/aspendigital/backend"]
	path = plugins/aspendigital/backend
	url = git@aspendigital.com:octobercms/backend-theme.git
[submodule "plugins/devcatch/octobermix"]
	path = plugins/devcatch/octobermix
	url = git@github.com:dev-catch/oc-octobermix.git
[submodule "plugins/devcatch/sslsupport"]
	path = plugins/devcatch/sslsupport
	url = git@github.com:dev-catch/oc-ssl-support.git
[submodule "plugins/devcatch/instagramfeed"]
	path = plugins/devcatch/instagramfeed
	url = git@github.com:dev-catch/oc-instagram-feed.git
