.DS_Store
.idea

.env
.env.*
!.env.example

.assman/*
!.assman/config

backups/

storage/app/media/*
!storage/app/media/.gitkeep

storage/app/uploads/*
!storage/app/uploads/public/
storage/app/uploads/public/*
!storage/app/uploads/public/.gitkeep

storage/*.sqlite
storage/logs/*
!storage/logs/.gitkeep
