[submodule "plugins/aspendigital/lookfeel"]
	path = plugins/aspendigital/lookfeel
	url = git@github.com:dev-catch/oc-lookfeel.git
[submodule "plugins/aspendigital/backend"]
	path = plugins/aspendigital/backend
	url = git@github.com:dev-catch/oc-backend.git
[submodule "plugins/devcatch/octobermix"]
	path = plugins/devcatch/octobermix
	url = git@github.com:dev-catch/oc-octobermix.git
[submodule "plugins/devcatch/sslsupport"]
	path = plugins/devcatch/sslsupport
	url = git@github.com:dev-catch/oc-ssl-support.git
[submodule "plugins/devcatch/instagramfeed"]
	path = plugins/devcatch/instagramfeed
	url = git@github.com:dev-catch/oc-instagram-feed.git
[submodule "plugins/aspendigital/utilities"]
	path = plugins/aspendigital/utilities
	url = git@github.com:dev-catch/oc-utilites.git
