/**
 * Utilities
 *
 */

/*
 * Position
 *
 */

.u-pull-left {
  float: left;

  &\@sm {
    @include media-breakpoint-only(sm) {
      float: left;
    }
  }
  &\@sm-up {
    @include media-breakpoint-up(sm) {
      float: left;
    }
  }
}
.u-pull-right {
  float: right;

  &\@sm {
    @include media-breakpoint-only(sm) {
      float: right;
    }
  }
  &\@sm-up {
    @include media-breakpoint-up(sm) {
      float: right;
    }
  }
}

.u-clear { clear: both; }
.u-clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.u-block { display: block !important; }

.u-align-right { text-align: right; }
.u-align-right\@xs {
  @include media-breakpoint-down(xs) {
    text-align: right !important;
  }
}
.u-align-left { text-align: left; }
.u-align-left\@xs {
  @include media-breakpoint-down(xs) {
    text-align: left !important;
  }
}
.u-align-center { text-align: center !important; }
.u-align-center\@xs {
  @include media-breakpoint-down(xs) {
    text-align: center !important;
  }
}


/*
 * Type
 *
 */

.u-lowercase { text-transform: lowercase; }
.u-uppercase { text-transform: uppercase; }

.u-bold { font-weight: 500; }


/*
 * Size
 *
 */

.u-text-xsmall { font-size: .6em; }
.u-text-small { font-size: .8em; }
.u-text-medium { font-size: 1em; }
.u-text-large { font-size: 1.2em; }


/*
 * Colors
 *
 */

.u-color-primary {
  color: $color-primary;
}
.u-color-secondary {
  color: $color-secondary;
}
.u-color-muted {
  color: $color-muted;
}
.u-color-success {
  color: $color-success;
}
.u-color-error {
  color: $color-error;
}


/*
 * Padding and margin utilities
 *
 */

/* Box model sizes */
$box-model-gutter-none: 0;
$box-model-gutter-xsmall: 15px;
$box-model-gutter-small: 30px;
$box-model-gutter-medium: 60px;
$box-model-gutter-large: 120px;

$types: margin,
        padding;

$sides: top,
        right,
        bottom,
        left;

$axes: (x left right),
       (y top bottom);

$sizes: (none $box-model-gutter-none),
        (xsmall $box-model-gutter-xsmall),
        (small $box-model-gutter-small),
        (medium $box-model-gutter-medium),
        (large $box-model-gutter-large);

@each $type in $types {
  @each $side in $sides {
    @each $size in $sizes {
      $size-name: nth($size, 1);
      $size-value: nth($size, 2);

      .u-#{$type}-#{$side}-#{$size-name} {
        #{$type}-#{$side}: $size-value !important;

        &\@xs {
          @include media-breakpoint-up(xs) {
            #{$type}-#{$side}: $size-value !important;
          }
        }
        &\@sm {
          @include media-breakpoint-only(sm) {
            #{$type}-#{$side}: $size-value !important;
          }
        }
        &\@sm-up {
          @include media-breakpoint-up(sm) {
            #{$type}-#{$side}: $size-value !important;
          }
        }
        &\@md {
          @include media-breakpoint-only(md) {
            #{$type}-#{$side}: $size-value !important;
          }
        }
        &\@md-up {
          @include media-breakpoint-up(md) {
            #{$type}-#{$side}: $size-value !important;
          }
        }
        &\@lg {
          @include media-breakpoint-only(lg) {
            #{$type}-#{$side}: $size-value !important;
          }
        }
        &\@lg-up {
          @include media-breakpoint-up(lg) {
            #{$type}-#{$side}: $size-value !important;
          }
        }
        &\@xl {
          @include media-breakpoint-only(xl) {
            #{$type}-#{$side}: $size-value !important;
          }
        }
        &\@xl-up {
          @include media-breakpoint-up(xl) {
            #{$type}-#{$side}: $size-value !important;
          }
        }
      }

      @each $axis in $axes {
        $axis-name: nth($axis, 1);
        $side-name1: nth($axis, 2);
        $side-name2: nth($axis, 3);

        .u-#{$type}-#{$axis-name}-#{$size-name} {
          #{$type}-#{$side-name1}: $size-value !important;
          #{$type}-#{$side-name2}: $size-value !important;

          &\@xs {
            @include media-breakpoint-up(xs) {
              #{$type}-#{$side-name1}: $size-value !important;
              #{$type}-#{$side-name2}: $size-value !important;
            }
          }
          &\@sm {
            @include media-breakpoint-only(sm) {
              #{$type}-#{$side-name1}: $size-value !important;
              #{$type}-#{$side-name2}: $size-value !important;
            }
          }
          &\@sm-up {
            @include media-breakpoint-up(sm) {
              #{$type}-#{$side-name1}: $size-value !important;
              #{$type}-#{$side-name2}: $size-value !important;
            }
          }
          &\@md {
            @include media-breakpoint-only(md) {
              #{$type}-#{$side-name1}: $size-value !important;
              #{$type}-#{$side-name2}: $size-value !important;
            }
          }
          &\@md-up {
            @include media-breakpoint-up(md) {
              #{$type}-#{$side-name1}: $size-value !important;
              #{$type}-#{$side-name2}: $size-value !important;
            }
          }
          &\@lg {
            @include media-breakpoint-only(lg) {
              #{$type}-#{$side-name1}: $size-value !important;
              #{$type}-#{$side-name2}: $size-value !important;
            }
          }
          &\@lg-up {
            @include media-breakpoint-up(lg) {
              #{$type}-#{$side-name1}: $size-value !important;
              #{$type}-#{$side-name2}: $size-value !important;
            }
          }
          &\@xl {
            @include media-breakpoint-only(xl) {
              #{$type}-#{$side-name1}: $size-value !important;
              #{$type}-#{$side-name2}: $size-value !important;
            }
          }
          &\@xl-up {
            @include media-breakpoint-up(xl) {
              #{$type}-#{$side-name1}: $size-value !important;
              #{$type}-#{$side-name2}: $size-value !important;
            }
          }
        }
      }
    }
  }
}


/*
 * Lists
 *
 */

.u-list-reset {
  @include list-reset();
}


/*
 * Media Query visibility
 *
 */

.u-visible\@xs {
  display: none !important;

  @include media-breakpoint-only(xs) {
    display: block !important;
  }
}

.u-hidden\@xs {
  display: block !important;

  @include media-breakpoint-only(xs) {
    display: none !important;
  }
}

.u-visible\@xs-up {
  display: none !important;

  @include media-breakpoint-up(xs) {
    display: block !important;
  }
}

.u-hidden\@xs-up {
  display: block !important;

  @include media-breakpoint-up(xs) {
    display: none !important;
  }
}

.u-visible\@sm {
  display: none !important;

  @include media-breakpoint-only(sm) {
    display: block !important;
  }
}

.u-hidden\@sm {
  display: block !important;

  @include media-breakpoint-only(sm) {
    display: none !important;
  }
}

.u-visible\@sm-up {
  display: none !important;

  @include media-breakpoint-up(sm) {
    display: block !important;
  }
}

.u-hidden\@sm-up {
  display: block !important;

  @include media-breakpoint-up(sm) {
    display: none !important;
  }
}

.u-visible\@md {
  display: none !important;

  @include media-breakpoint-only(md) {
    display: block !important;
  }
}

.u-hidden\@md {
  display: block !important;

  @include media-breakpoint-only(md) {
    display: none !important;
  }
}

.u-visible\@md-up {
  display: none !important;

  @include media-breakpoint-up(md) {
    display: block !important;
  }
}

.u-hidden\@md-up {
  display: block !important;

  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.u-visible\@lg {
  display: none !important;

  @include media-breakpoint-only(lg) {
    display: block !important;
  }
}

.u-hidden\@lg {
  display: block !important;

  @include media-breakpoint-only(lg) {
    display: none !important;
  }
}

.u-visible\@lg-up {
  display: none !important;

  @include media-breakpoint-up(lg) {
    display: block !important;
  }
}

.u-hidden\@lg-up {
  display: block !important;

  @include media-breakpoint-up(lg) {
    display: none !important;
  }
}


/*
 * Image shapes
 *
 */

.u-image-rounded {
  border-radius: 100%;
}


/*
 * Hide Text
 *
 */

.u-hide-text {
  @include hide-text();
}
