/**
 * Button
 *
 */

.button {
  display: inline-block;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: .6em 1em;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  transition: all .12s ease;

  a#{&},
  a#{&}:hover,
  a#{&}:active,
  a#{&}:active:focus,
  a#{&}:focus,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.button--primary {
  &,
  &:active,
  &:active:focus,
  &:focus,
  &:hover {
    background-color: $color-primary;
    color: $color-primary-offset;
  }
}

.button--secondary {
  &,
  &:active,
  &:active:focus,
  &:focus,
  &:hover {
    background-color: $color-secondary;
    color: $color-secondary-offset;
  }
}

.button--small {
  font-size: .95em;
  padding: .6em 1.3em;
}

.button--large {
  font-size: 1.25em;
  padding: .7em 1.3em;
}

.button--link {
  background-color: transparent;
  color: currentColor;
}
