/**
 * Form Label
 *
 */

.form-label {
  margin-bottom: 5px;
  display: block;
}

.form-label--placeholder {
  display: none;

  /*
   * Hide label if placeholders are available
   * Use with Modernizr placeholder detection
   */
  .no-placeholder & { display: block; }
}
